<% include ../partials/header %>
<script src="/scripts/FondoAjaxReq.js"></script>

<div class="container mt-4">
    
    <h1 style="display: inline-block;">Fondos </h1> <a href="/fondos/buscar" style="display: inline-block; float: right">Buscar Fondos</a>
    <% data.forEach((fondo) => {%>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Atributo</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i in fondo) {%>
            <tr>
                <td><strong><%= i %></strong> </td>
                <td><%= fondo[i] %></td>
            </tr>
            <%}%>
        </tbody>
        </table>
    <%})%>
    <hr>
    <a href="/fondos/json" class="btn btn-primary">Ver en formato json</a>
</div>
<% include ../partials/footer %>